<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">
<suite name="Testoemter_Suite">
  <test thread-count="5" name="Testoemter_Test">
    <classes>
      <class name="pack1.Annotations"/>
      <class name="pack1.Annotations2"/>
      <class name="pack1.TestClass1"/>
    </classes>
  </test> <!-- Test -->
</suite> <!-- Suite -->
